

html, body {
  width: 100vw;
  height: auto;
  margin: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Garamond;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark {
  color: white;
  background-image: url("/light-wool.png");
  background-color:rgb(10, 20, 38);
}

.light {
  color: black;
  background-image: url("/light-wool.png");
  background-color:rgba(204, 190, 191)
}

.hidden {
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 800ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


