

html, body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Garamond, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("/light-wool.png");
  background-color:rgb(10, 20, 38);
  font-family: Garamond;
}


